.vscode

node_modules

package-lock.json
yarn.lock

public
dist

non-trackable/
src/*/widgetPermissionsConfig.json


config/database.json
config/tgLogs.json
config/core.json
config/tgLogs.json
config/tg.json
*.txt

/src/modules/TinkoffBank/config.json
.comments